.bg-image {
  background-image: url("./images/image 9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
}

.uls > li {
  list-style-type: circle;
}